
.font-size{
	font-size: 15px;
}

.background-button{
	background: #00a65a;
	color:white;
}

.spacing-buttons{
	padding-bottom: 8px;
}
.disponible{
	background: green;
	
}
.no-disponible{
	background: #F46361;
}
.alta{ 
	background-color: #d9534f;
}
.media{ 
	background-color: #5cb85c;
}
.baja{ 
	background-color: #f0ad4e;
}
.not-active{
	background-color: #d9534f;
}
.not-status{
	background-color: #999;
}
.activated{
	background-color: #5cb85c; 
}
.active{background-color: gray;}
.ic{
	font-size: 19px;
	color: white;
}
figure{
	background-color: #F46361;
	border-radius: 5px;
	height:60px;
	left: 0;
	position: absolute;
	width:60px;
}
.prueba{
	background: rgb(176,176,176);
	border-radius: 5px;
	height: 60px;
}
.icons{
	color: white;
	font-size: 3em;
	margin: 8px;
	position: absolute;
}
.options{
	color: white;
	margin: 17px 0 0 0;
	position: absolute;
	right: 0px;
	text-align: right;
}
.info{
	position: absolute;
	margin: -6px 0 0 0;
	left: 80px;
	color: white;
}

#menu{
	width: 70px;
  	margin-left: -10px !important;
}

.ui.attached.right.button {
  display: inline-block;
  padding-left: 0.75em;
  text-align: left;
  border-radius: 0em 0.25em 0.25em 0em;
}

#footer { 
	position:fixed;
   	left:0px;
   	bottom:0px;
   	right: 0px; 
	margin-top: 10px;
	padding-top: 10px;
	/* altura en px del footer con valor negativo */ 
	height: 35px; 
	/* Altura del Footer en px*/ 
	clear: both;
	overflow: hidden; 
	/*background: rgb(171, 170, 170);*/
	background: white;
 	color: black;
 	font-weight: bold;
	text-align: center; 
}
.type-badge {
  background-color: #43D975;
  border: solid 1px white;
}
.dropdown-large {
  position: static !important;
}

.spacing {
	padding: 10px 15px !important;
}

.espaciado{
	padding-bottom: 20px;
}
.contenido{
	border: 1px solid #00a65a;


}
.contenido {
	position: relative;
	background: #ffffff;
	border: 2px solid #00a65a;
}
.contenido:after, .contenido:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.contenido:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.contenido:before {
	border-color: rgba(0, 166, 90, 0);
	border-top-color: #00a65a;
	border-width: 11px;
	margin-left: -11px;
}
.contenido p{
	font-size: 14px;
	padding: 10px;
}
.titulo{
	color: #07a;
}

.titulos{
	color: #fff;
	text-align: center;
	background-color: #00a65a;
	height: 30px;

}
.pagination { margin-top: 0; }
.spacing-right{
	padding-right: 18px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.angular-google-map-container { height: 400px; }